body { 
	margin: 0px;
    font-family: Arial, Helvetica, sans-serif;
	min-height: 100vh;
	width: 100%;
    background:linear-gradient(to bottom, rgb(128, 128, 128), rgb(158, 158, 158), rgb(192, 192, 192)) ;
}

nav{
	width: 100%;
	padding: 0px;
	background:rgb(98, 192, 144) ;
}

.menu{
	list-style: none;
	margin-top: 0px;
	padding: 0px;
}

.menu li{
	display: inline-block;
	text-transform: capitalize;
	font-size: 20px;
}

.menu li a{
	font-size: 20px;
	text-decoration: none;
}

.menu li span{
	padding: 15px 30px;
}
.menu a{
	display: grid ;
	justify-content: end;
	padding: 15px 30px;
	text-transform: none;
	transition: .3s;
}

a { 
	text-decoration: none;
	color: black;
	font-size: 20px;
	position: relative;
}

a:hover { 
	text-decoration: underline; 
}

label {
	width: 8em;
	display: inline-block;
}

header {
  background-color: rgb(98, 192, 144);
  color: rgb(0, 0, 0);
  height: 2.5em;
  width: 100%;
  padding: 0 30px;
  margin-bottom: 10px;
}

header a { 
	text-decoration: none; 
    color: white;
    font-size: 0.6em;
}

a.labelLogin{
	font-family: Arial, Helvetica, sans-serif;
	color: black;
	font-size: 100%;
}


form.table{
	font-family: Arial, Helvetica, sans-serif;
	margin-top: 100px;
}

input{
  border: 0;
  border-radius: 4px;
  font-weight: 600;
  margin:10px;
  width: 200px;
  padding: 10px;
  background-color: lightgray;
}

button.login{
  cursor: pointer;
  border: 2px solid white;
  border-radius: 100px;
  font-weight:600;
  margin: 10px;
  width: 220px;
  padding: 10px;
  background-color: lightgreen;
  transition: 0.4s;
  
}

button.login:hover{
	border: 2px solid lightgreen;
	background-color: white;
}

a.register{
	
	color: black;
	cursor: pointer;
  	border: 2px solid white;
  	border-radius: 100px;
  	margin: 10px;
  	width: 200px;
  	display: inline-block;
  	padding: 10px;
  	background-color: lightgreen;
  	transition: 0.4s;
  	font-weight: 600;
}

a.register:hover{
 	text-decoration: none;
	border: 2px solid lightgreen;
	background-color: white;
}

div.menu a{
	font-size: 20px;
	color: black;
}
span img{
	border: 1px solid #ddd;
	border-radius: 4px;
 	padding: 5px;
  	width: 150px;
}

div.artist p{
	font-size: 20px;
}

span p{
	margin: 0px 10px;
}

ul.indexMenu {
	display: flex;
	justify-content: space-around;
	list-style: none;
	text-transform: uppercase;
	align-items: flex-start;
}

li.indexMenuItem{
	
	position: static;
	height: 40px;
	margin: 10px;
	justify-content: center;
	display: block;
	color: rgb(0, 0, 0);
	background: lightgreen;
	font-size: 20px;
	margin-top: 20px;
	outline: none;
	border: none;
	border-radius: 5px;
	transition: .2s ease-in;
	cursor: pointer;
	
}

li.indexMenuItem a{ 
	
	top: 7px;
	font-size: 25px;
	padding: 15px;
	
}

li.indexMenuItem:hover{
	text-decoration: none;
	background: #6d44b8;
}

/********************************************MOVIE*******************************************/

div.movie img.logo{
	margin-bottom: 100px;
}
div.movie div{
	margin: 10px;
	display: inline-flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	width: 760px;
}

div.movie div img.filmImage{
	width: 350px;
	height: 500px;
	image-rendering: auto;
	border-radius: 10px;
}
div.movie h2{
	margin-bottom: 10px;
}


div.movie h4{
	font-weight: unset ;
	margin-top: 0%;
}

div.actors img{
	width: 100px;
	height: 100px;
	image-rendering: auto;
	border-radius: 100px;
}

/********************************************MOVIES*******************************************/

.movies{
	display: flex;
	flex-wrap: wrap;
	align-content: flex-start;
	justify-content: space-evenly;
	width: 80%;
}

.film img{
	width: 100px;
	height: 100px;
	image-rendering: auto;
	border-radius: 100px;
}

.film img:hover{
	width: 150px;
	height: 150px;
	image-rendering: auto;
	border-radius: 100px;
	transition: .2s;

}

.film{
	align-self: center;
	flex-wrap: wrap;
	display: flex;
	flex-direction: row;
	margin: 10px;
	list-style: none;
	width: 30%;
	height: 150px;
}

.filmTitle{
	height: 50px;
	align-self: stretch;
	flex-grow: 1;
	bottom: -33px;
	text-decoration: none;
}

.filmTitle:hover{
	text-decoration: none;
	color: lightgreen;
	transition: .2s;
}

/********************************************ARTISTS*******************************************/

.artists{
	display: flex;
	flex-wrap: wrap;
	align-content: flex-start;
	justify-content: space-evenly;
	width: 80%;
}

.artists img{
	width: 100px;
	height: 100px;
	image-rendering: auto;
	border-radius: 100px;
}

.artists img:hover{
	width: 150px;
	height: 150px;
	image-rendering: auto;
	border-radius: 100px;
	transition: .2s;

}

.artist{
	flex-wrap: wrap;
	display: flex;
	flex-direction: row;
	text-align: center;
	margin: 10px;
	list-style: none;
	width: 400px;
	height: 150px;
}

.artistTitle{
	bottom: -35px;
	right: -15px;
}

.artistTitle:hover{
	text-decoration: none;
	color: lightgreen;
}
