body{
	background: url(../images/sfondo.jpg) ;
	background-size: cover;
	background-position: center;
}


.menu{
	list-style: none;
	margin-top: 0px;
	padding: 0px;
}

.menu li{
	display: inline-block;
	text-transform: capitalize;
	font-size: 20px;
}

.menu li a{
	font-size: 20px;
	text-decoration: none;
}

.menu li span{
	padding: 15px 30px;
}
.menu a{
	display: grid ;
	justify-content: end;
	padding: 15px 30px;
	text-transform: none;
	transition: .3s;
}


label {
	width: 8em;
	display: inline-block;
}



a.labelLogin{
	font-family: Arial, Helvetica, sans-serif;
	color: black;
	font-size: 100%;
}


form.table{
	font-family: Arial, Helvetica, sans-serif;
	margin-top: 100px;
}

input{
  border: 0;
  border-radius: 4px;
  font-weight: 600;
  margin:10px;
  width: 200px;
  padding: 10px;
  background-color: lightgray;
}

button.login{
  cursor: pointer;
  border: 2px solid white;
  border-radius: 100px;
  font-weight:600;
  margin: 10px;
  width: 220px;
  padding: 10px;
  background-color: rgb(98, 192, 144);
  transition: 0.4s;
  
}

button.login:hover{
	border: 2px solid rgb(98, 192, 144) ;
	background-color: white;
}

a.register{
	
	color: black;
	cursor: pointer;
  	border: 2px solid white;
  	border-radius: 100px;
  	margin: 10px;
  	width: 200px;
  	display: inline-block;
  	padding: 10px;
  	background-color: rgb(98, 192, 144);
  	transition: 0.4s;
  	font-weight: 600;
}

a.register:hover{
 	text-decoration: none;
	border: 2px solid rgb(98, 192, 144);
	background-color: white;
}

div.menu a{
	font-size: 20px;
	color: black;
}
span img{
	border: 1px solid #ddd;
	border-radius: 4px;
 	padding: 5px;
  	width: 150px;
}

div.artist p{
	font-size: 20px;
}

span p{
	margin: 0px 10px;
}

ul.indexMenu {
	display: flex;
	list-style: none;
	text-transform: uppercase;
	align-items: flex-start;
	flex-direction: column;
}

.indexMenu h1{
	display: flex;
	text-transform: full-size-kana;
}

li.indexMenuItem{
	
	position: static;
	height: 40px;
	margin: 10px;
	justify-content: center;
	display: block;
	color: rgb(0, 0, 0);
	background: rgb(98, 192, 144);
	font-size: 20px;
	margin-top: 20px;
	outline: none;
	border: none;
	border-radius: 5px;
	transition: .2s ease-in;
	cursor: pointer;
	
}

li.indexMenuItem a{ 
	
	top: 7px;
	font-size: 25px;
	padding: 15px;
	
}

li.indexMenuItem:hover{
	text-decoration: none;
	background: #6d44b8;
}

/********************************************MOVIE*******************************************/

.movie {
	flex-wrap: wrap;
	margin-top: 50px;
	display: flex;
	align-items: center;
	justify-content: space-evenly;
	flex-direction: row;
	width: 100%;
}

.filmImage{
	width: 350px;
	height: 500px;
	border-radius: 10px;
}
.movie h2{
	font-weight: 200;
	margin: 0px;
	color: rgb(98, 192, 144);
	background-color: black;
	width: 100%;
}

.regista{
	align-self: center;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
}


div.movie h4{
	color: #ddd;
	font-weight: unset ;
	margin-top: 0%;
}

div.actors img{
	width: 100px;
	height: 100px;
	image-rendering: auto;
	border-radius: 100px;
}

.actors{
	flex-wrap: wrap;
	margin: 10px;
	display: flex;
	align-items: center;
	justify-content: space-evenly;
	flex-direction: column;
	width: 45%;
}

.listActors{
	color: white;
	margin: 0px;
	flex-wrap: wrap;
	display: flex;
	align-items: center;
	justify-content: space-evenly;
	flex-direction: row;
	width: 100%;
	border-radius: 5px;
	background-color: rgb(63, 63, 63);
}

.listDirector{
	color: white;
	margin: 0px;
	flex-wrap: wrap;
	display: flex;
	align-items: center;
	justify-content: space-evenly;
	flex-direction: row;
	width: 100%;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;	
	background-color: rgb(63, 63, 63);
}

.listDirector img,
.listActors img{
	margin: 30px;
}


/********************************************MOVIES*******************************************/

.movies{
	padding-top: 60px;
	display: flex;
	flex-wrap: wrap;
	align-content: center;
	justify-content: space-evenly;
	width: 70%;
}

.film img{
	width: 100px;
	height: 100px;
	image-rendering: auto;
	border-radius: 100px;
}

.film img:hover{
	width: 120px;
	height: 120px;
	image-rendering: auto;
	border-radius: 100px;
	transition: .2s;

}

.film{
	align-self: center;
	flex-wrap: wrap;
	display: flex;
	flex-direction: row;
	margin: 20px;
	list-style: none;
	width: 30%;
	height: 150px;
}

.filmTitle{
	height: 50px;
	align-self: stretch;
	flex-grow: 1;
	bottom: -33px;
	text-decoration: none;
}

.filmTitle:hover{
	text-decoration: none;
	color: rgb(98, 192, 144);
	transition: .2s;
}

/********************************************ARTISTS*******************************************/

.artists{
	display: flex;
	flex-wrap: wrap;
	align-content: flex-start;
	justify-content: space-evenly;
	width: 80%;
}

.artists img{
	width: 100px;
	height: 100px;
	image-rendering: auto;
	border-radius: 100px;
}

.artists img:hover{
	width: 120px;
	height: 120px;
	image-rendering: auto;
	border-radius: 100px;
	transition: .2s;

}

.artist{
	flex-wrap: wrap;
	display: flex;
	flex-direction: row;
	text-align: center;
	margin: 10px;
	list-style: none;
	width: 400px;
	height: 150px;
}

.artistTitle{
	bottom: -35px;
	right: -15px;
}

.artistTitle:hover{
	text-decoration: none;
	color: rgb(98, 192, 144);
}


.listDirectors{
	color: white;
	margin: 0px;
	flex-wrap: wrap;
	display: flex;
	align-items: center;
	justify-content: space-evenly;
	flex-direction: row;
	width: 100%;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;	
	background-color: rgb(63, 63, 63);
}

.listDirectors img{
	margin: 30px;
}

h1{
	color: #ddd;
	margin-bottom: 0px;
}

/***************************TABELLA***************************************/

.rewiew{
	width:50%;
	background-color: #494949dc;
	position: relative;
	
}


.table-ext {
	width:50%;
	background-color: #4949495d;
	position: relative;
}

.rewiew .table-int td {
	height:40px;
	line-height:100px;
	width: 33%;
	border-bottom: 2px solid black;
	text-align: center;
}

.rewiew thead th{
	height:60px;
	line-height:50px;
	text-align: center;
	padding: 0 0 0 5px;
	background: rgba(255, 0, 0, 0.281);
	color:#fff;
	width: 33%;
}

.table-ext thead th ,
.table-ext-regista-attore thead th{
	height:60px;
	line-height:50px;
	text-align: center;
	padding: 0 0 0 5px;
	background: rgba(255, 0, 0, 0.281);
	color:#fff;
	width: 50%;
}


.divinterno{
height:640px; 
overflow: auto;
width:100%;

}

.divinterno-rewiew{
	height:300px; 
	overflow: auto;
	width:100%;
	margin-bottom: 20px;
}	

.table-int {
width:100%; 
}

.table-int td {
height:40px;
line-height:40px;
width: 50%;
border-bottom: 2px solid black;
text-align: center;
}

.tableImage{
	width: 100px;
	height: 100px;
	border-radius: 100px;
	margin: 20px;
	transition: .2s;
}

.tableImage:hover{
	width: 110px;
	height: 110px;
	margin: 15px;
}

.table-int td a{
	color: #ddd;
	text-decoration: none;
	transition: .2s;
	font-size: 18px;
}

.table-int td a:hover{
	font-size: 19px;
	color:rgb(98, 192, 144);
	text-decoration: none;
}

.table-ext-regista-attore {
	width:30%;
	background-color: #4949495d;
	position: relative;
}

.table-ext-regista-attore .divinterno{
	height:300px; 
	overflow: auto;
	width:100%;
}

.noFilm{
	color: #ddd;
	align-self: center;
}

.rewiew .fa-solid {
	margin: 10px;
	color: #a17f11da;
}

/************************************SEARCH-MOVIES*********************************************/

.search{
	margin-top: 200px;
	display: flex;
	background-color: transparent;
	justify-content: space-evenly;
}

.search form{
	border-radius: 10px;
	align-self: flex-end;
	padding: 10px;
	background-color: #494949c2;
}

.search input{
	width: 80%;
	
}

/************************************FOUND-MOVIES*********************************************/

.foundMovies{
	margin-top: 200px;
	display: flex;
	flex-direction: column;
	background-color: transparent;
	justify-content: space-evenly;
	align-items: center;
}

.divinterno-foundMovies{
	height: 300px;
	overflow: auto;
	width:100%;
}


/************************************INDEX-MOVIE*********************************************/

.indexMovie{	
	display: flex;
	flex-direction: column;
	min-height: 50vh;
	align-items: center;
	justify-content: center;
	padding: 0 6%;
}

.indexMovie h1{
	margin: 20px;
}

.indexMovie .btn-box{
	height: 50px;
	display: flex;
	justify-content: space-around;
	width: 60%;
	align-self: center;
}

.indexMovie .btn-box a{
	height: 100%;
	width: 30%;
	align-self: center;
}

/************************************INDEX-ARTIST*********************************************/

.indexArtist{	
	display: flex;
	flex-direction: column;
	min-height: 50vh;
	align-items: center;
	justify-content: center;
	padding: 0 6%;
}

.indexArtist h1{
	margin: 20px;
}

.indexArtist .btn-box{
	height: 50px;
	display: flex;
	justify-content: space-around;
	width: 60%;
	align-self: center;
}

.indexArtist .btn-box a{
	height: 100%;
	width: 30%;
	align-self: center;
}

/************************************FORM-NEW-MOVIE*********************************************/

.formNewMovie{	
	display: flex;
	flex-direction: column;
	min-height: 50vh;
	align-items: center;
	justify-content: flex-start;
	padding: 0 6%;
}

.formNewMovie h1{
	background:rgba(255, 0, 0, 0.281) ;
	width: 397px;

	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
	margin: 10px;
	text-align: center;
}

.formNewMovie form{
		min-height: 245px;
		background-color: #494949c2;
		border-radius: 5px;
		border-top-left-radius: 0px;
		border-top-right-radius: 0px;
		width: 397px;
}

.formNewMovie div{
	color: #ddd;
}

.formNewMovie-btn{
	height: 41px;
	display: flex;
	justify-content: flex-start;
}

.formNewMovie-btn button{
	font-size: large;
	font-weight: bold;
	margin-top: 10px;
	margin-left: 10px;
	margin-right: 10px;
	width: 100%;
	height: 100%;
	cursor: pointer;
	transition: .3s;
	border-radius: 5px;
}

.formNewMovie-btn button:hover{
	background-color:rgba(255, 0, 0, 0.466) ;
	cursor: pointer;
}

/************************************MANAGE-MOVIES*********************************************/

.manageMovies{
	margin-top: 50px;
	display: flex;
	justify-content: center;
}

.table-ext-manageMovies {
	width:50%;
	background-color: #4949495d;
	position: relative;
}

.table-int-manageMovies td {
	height:40px;
	line-height:100px;
	width: 33%;
	border-bottom: 2px solid black;
	text-align: center;
}

.table-ext-manageMovies thead th{
	height:60px;
	line-height:50px;
	text-align: center;
	padding: 0 0 0 5px;
	background: rgba(255, 0, 0, 0.281);
	color:#fff;
	width: 33%;
}


.divinterno-manageMovies{
height:570px; 
overflow: auto;
width:100%;

}

.table-int-manageMovies{
	width: 100%;
}

.table-int-manageMovies td a{
	font-size: large;
	color: rgb(255, 255, 255);
	text-decoration: none;
	transition: .3s;
}

.table-int-manageMovies td a:hover{
	color: rgb(98, 192, 144);
	text-decoration: none;
}