<!DOCTYPE html>
<html>

<head>
	<title>Scelta attori</title>
	<link rel="stylesheet" href="/css/stile.css" />
	<link rel="stylesheet" href="/css/navBar.css"/>
	<script src="https://kit.fontawesome.com/911a8faad0.js" crossorigin="anonymous"></script>
</head>

<body>
	<header class="header">
		<a href="/" class="logo"><img class="logo" src="/images/logo-siw.png" /></a>
		<nav class="navbar">
			<a href="/" class="active"><i class="fa-solid fa-house"></i></a>
			<a href="/formSearchMovies">Cerca Film</a>
			<a href="">Cerca Artista</a>
			<span th:if="${#request.userPrincipal}" th:text="'Ciao ' + ${#request.userPrincipal.principal.username}"></span>
			<a th:if="${#request.userPrincipal}" class="" href="/logout">Logout</a>
			<a th:unless="${#request.userPrincipal}" class="" href="/login">Login/Register</a>
		</nav>
	</header>

	
	
	<div class="actorsToAdd">
		
		
		
		<table class="table-ext-regista-attore">
			<thead><tr><th><h2 th:text="'Attori del film ' + ${movie.title}"></h2></th></tr></thead>
		  	<tbody>
			  <tr>	
			  	<td colspan="2">	
				  	<div class="divinterno">	
						<center><div th:if="${movie.actors.isEmpty()}">Non ci sono attori per questo film</div></center>	
					  	<table class="table-int" th:each="actor : ${movie.actors}">
						  	<tr>
								<td><a th:text="${actor.name}+' '+${actor.surname}"></a></td>
							  	<td><a th:href="@{'/admin/removeActorFromMovie/'+ ${actor.id}+'/'+${movie.id}}">Cancella</a></td>
								
						  	</tr>	
					   	</table>
				  	</div>
				</td>
				</tr> 
		  </tbody>
		</table>


			<a th:href="@{'/admin/formUpdateMovie/'+ ${movie.id}}"><button type="button">Fine</button></a>


		<table class="table-ext-regista-attore">
			<thead><tr><th><h2>Attori che si possono aggiungere</h2></th></tr></thead>
		  	<tbody>
			  <tr>	
			  	<td colspan="2">	
				  	<div class="divinterno">	
						<!--<center><div th:if="${movie.actors.isEmpty()}">Non ci sono attori per questo film</div></center>-->
					  	<table class="table-int" th:each="actor : ${actorsToAdd}">
						  	<tr>
								<td><a th:text="${actor.name}+' '+${actor.surname}"></a></td>
							  	<td><a th:href="@{'/admin/addActorToMovie/'+ ${actor.id}+'/'+${movie.id}}">Aggiungi</a></td>
								
						  	</tr>	
					   	</table>
				  	</div>
				</td>
				</tr> 
		  </tbody>
		</table>
		
	</div>
		
</body>

</html>