<!DOCTYPE html>
<html>

<head>
	<title>
		New Artist
	</title>
	<link rel="stylesheet" href="/css/stile.css" />
	<script src="https://kit.fontawesome.com/911a8faad0.js" crossorigin="anonymous"></script>
</head>

<body>
	<nav>
		<ul class="menu">
			<li>
				<a href="/"><i class="fa-solid fa-house"></i></a>
			</li>
			<li th:if="${#request.userPrincipal}"> 
				<span th:text="'ciao ' + ${#request.userPrincipal.principal.username}"></span> 
			</li>
			<li th:if="${#request.userPrincipal}"> 
				<a class="" href="/logout">Logout</a>
			</li>
			
			<li th:unless="${#request.userPrincipal}">
				<a class="" href="/login">Login/Register</a>
			</li>
			<li><a href="/formSearchMovies">Cerca Film</a></li>
		</ul>
	</nav>

	<div><a href="/"><img src="/images/logo-siw.png" width="50%"/></a></div>
	<h1>Aggiungi un artista</h1>
	<form th:action="@{/admin/artist}" method="POST" th:object="${artist}">
		<div>
			<span th:text="${messaggioErrore}">Errore</span>
		</div>
		
		<div>
			<label>Nome:</label> <span><input required type="text" th:field="${artist.name}" /></span>
		</div>

		<div>
			<label>Cognome:</label> <span><input required type="text" th:field="${artist.surname}" /></span>
		</div>

		<div>
			<label>Data di nascita:</label> <span><input type="date" th:field="${artist.dateOfBirth}" /></span>
		</div>

		<div>
			<label>Fotografia (url):</label> <span><input type="text" th:field="${artist.urlOfPicture}" /></span>
		</div>
		
		<div>
			<span><button type="submit">Conferma</button></span>
		</div>
	</form>
</body>

</html>