<!DOCTYPE html>
<html>

<head>
	<title>
		New Movie
	</title>
	<link rel="stylesheet" href="/css/stile.css" />
	<link rel="stylesheet" href="/css/navBar.css"/>
	<script src="https://kit.fontawesome.com/911a8faad0.js" crossorigin="anonymous"></script>
</head>

<body>
	<header class="header">
		<a href="/" class="logo"><img class="logo" src="/images/logo-siw.png" /></a>
		<nav class="navbar">
			<a href="/" class="active"><i class="fa-solid fa-house"></i></a>
			<a href="/formSearchMovies">Cerca Film</a>
			<a href="">Cerca Artista</a>
			<span th:if="${#request.userPrincipal}" th:text="'Ciao ' + ${#request.userPrincipal.principal.username}"></span>
			<a th:if="${#request.userPrincipal}" class="" href="/logout">Logout</a>
			<a th:unless="${#request.userPrincipal}" class="" href="/login">Login/Register</a>
		</nav>
	</header>

	<div class="formUpdateMovie">
			<center><div><img class="filmImage-updateMovie" th:src="${movie.urlImage}"></div></center>
			<span class="movieTitle" th:text="${movie.title} ">Up!</span>
			
				
			
			<div class="formUpdateMovie-RegistaAttori">
				<div th:if="${movie.director}">
					<h2>Regista</h2>
						<div><a th:href="@{'/artist' + '/' + ${movie.director.id}}"><img class="updateMovie-img" th:src="${movie.director.urlOfPicture}" ></a></div>	
						<div class="directorName" th:text="${movie.director.name} + ' ' + ${movie.director.surname}">Steven Spielberg</div>
						<a th:href="@{'/admin/addDirector/' + ${movie.id}}">Modifica regista</a>	
						
				</div>
				<div th:unless="${movie.director}">
					<a th:href="@{'/admin/addDirector/' + ${movie.id}}">Aggiungi regista</a>
				</div>

				<div class="updateAttori">	
					<div th:if="${!movie.getActors().isEmpty()}">
						<h2>Attori</h2>
						<div class="listActor">
							<div class="singleActor" th:each="actor: ${movie.actors}">
								<img class="updateMovie-img2" th:src="${actor.urlOfPicture}">
								<a th:href="@{'/artist' + '/' + ${actor.id}}"><span th:text="${actor.name} + ' ' + ${actor.surname}">Al Pacino</span></a>
							</div>
						</div>
						<a th:href="@{'/admin/updateActors/' + ${movie.id}}">Modifica Attori</a>
					</div>
					<div th:unless="${!movie.getActors().isEmpty()}">
						<a th:href="@{'/admin/updateActors/' + ${movie.id}}">Aggiungi Attore</a>
					</div>
				</div>
			</div>
				<table class="rewiew-remove">
					<thead>
						<th>User</th>						
						<th>Titolo</th>		
						<th>Rating <i class="fa-solid fa-star"></i></th>	
						<th>Descrizione</th>
						<th>Cancella</th>			
					</thead>
				
				<tbody>
					<tr>	
						<td colspan="5">	
							<div class="divinterno-rewiew-remove" >	
								<center><div class="noFilm" th:if="${movie.movieRewiews.isEmpty()}">NESSUNA RECENSIONE</div></center>	
								<table class="table-int-remove" th:each="rewiew: ${movie.movieRewiews}">
									<tr>
										<td><span th:text="${rewiew.user.name}"></span></td>
										<td><span th:text="${rewiew.title}"></span></td>
										<td><span th:text="${rewiew.rating}"></span><i class="fa-solid fa-star"></i></td>
										<td><span th:text="${rewiew.description}"></span></td>
										<td><a th:href="@{'/admin/removeReview/' + ${movie.id} + '/' + ${rewiew.id}}">Remove review</a></td>
									</tr>	
								</table>
							</div>
						</td>
					</tr> 
				</tbody>
				</table>
			<div th:unless="${movie}">Film non esistente</div>
	</div>
</body>

</html>