<!DOCTYPE html>
<html>

<head>
	<title>
		SiwMovie - Homepage
	</title>
	<link rel="stylesheet" href="/css/stile.css" />
	<link rel="stylesheet" href="/css/navBar.css"/>
	<script src="https://kit.fontawesome.com/911a8faad0.js" crossorigin="anonymous"></script>
</head>

<body>
	<header class="header">
		<a href="/" class="logo"><img class="logo" src="/images/logo-siw.png" /></a>
		<nav class="navbar">
			<a href="" class="active"><i class="fa-solid fa-house"></i></a>
			<a href="/formSearchMovies">Cerca Film</a>
			<a href="">Cerca Artista</a>
			<span th:if="${#request.userPrincipal}" th:text="'Ciao ' + ${#request.userPrincipal.principal.username}"></span>
			<a th:if="${#request.userPrincipal}" class="" href="/logout">Logout</a>
			<a th:unless="${#request.userPrincipal}" class="" href="/login">Login/Register</a>
		</nav>
	</header>
		
	
	
	<section class="home">
		<div class="home-content">
			<h1>Consulta l'archivio</h1>
			<div class="btn-box">
				<a href="/movie">Elenco Film</a>
				<a href="/artist">Elenco Artisti</a>
			</div>
		</div>

		<div class="home-content">
			<h1>Operazioni per amministratore</h1>
			<div class="btn-box">
				<a href="/admin/indexMovie">Manage movies</a>
				<a href="/admin/indexArtist">Operazioni sugli artisti</a>
			</div>
		</div>
	</section>
	
		
	
	<ul class="indexMenu">
		
	</ul>
</body>

</html>