<!DOCTYPE html>
<html>
	<head>
		<title>
			SiwMovie - Gestione Artisti
		</title>
		<link rel="stylesheet" href="/css/stile.css" />
		<link rel="stylesheet" href="/css/navBar.css"/>
		<script src="https://kit.fontawesome.com/911a8faad0.js" crossorigin="anonymous"></script>
	</head>
<body>
	<header class="header">
		<a href="/" class="logo"><img class="logo" src="/images/logo-siw.png" /></a>
		<nav class="navbar">
			<a href="/" class="active"><i class="fa-solid fa-house"></i></a>
			<a href="/formSearchMovies">Cerca Film</a>
			<a href="">Cerca Artista</a>
			<span th:if="${#request.userPrincipal}" th:text="'Ciao ' + ${#request.userPrincipal.principal.username}"></span>
			<a th:if="${#request.userPrincipal}" class="" href="/logout">Logout</a>
			<a th:unless="${#request.userPrincipal}" class="" href="/login">Login/Register</a>
		</nav>
	</header>


		<div class="indexArtist">
			<h1>Gestione Artisti</h1>
			<div class="btn-box">
				<a href="/admin/formNewArtist">Inserisci artista</a>
				<a href="/artist">Gestisci artisti</a>
			</div>
		</div>

	</body>
</html>