<!DOCTYPE html>
<html>

<head>
	<title>Film</title>
	<link rel="stylesheet" href="/css/stile.css" />
	<link rel="stylesheet" href="/css/navBar.css"/>
	<script src="https://kit.fontawesome.com/911a8faad0.js" crossorigin="anonymous"></script>
</head>

<body>
	<header class="header">
		<a href="/" class="logo"><img class="logo" src="/images/logo-siw.png" /></a>
		<nav class="navbar">
			<a href="/" class="active"><i class="fa-solid fa-house"></i></a>
			<a href="/formSearchMovies">Cerca Film</a>
			<a href="">Cerca Artista</a>
			<span th:if="${#request.userPrincipal}" th:text="'Ciao ' + ${#request.userPrincipal.principal.username}"></span>
			<a th:if="${#request.userPrincipal}" class="" href="/logout">Logout</a>
			<a th:unless="${#request.userPrincipal}" class="" href="/login">Login/Register</a>
		</nav>
	</header>
	
	<div class="manageMovies">
		<div th:if="${movies==null || movies.isEmpty()}">Non ci sono film nel sistema</div>
		<table class="table-ext-manageMovies">
			<thead>
				<tr>
					<th>Immagine</th>
					<th>Titolo</th>
					<th>Modifica</th> 
					<th>Cancella</th> 
				</tr>		
			</thead>
		
		<tbody>
			<tr>	
			<td colspan="4">	
				<div class="divinterno-manageMovies" >		
					<table class="table-int-manageMovies" th:each="movie : ${movies}">
						<tr>
							<td><a th:href="@{'/movie/' + ${movie.id}}" ><img class="tableImage" th:src="${movie.urlImage}"/></a></td>
							<td><a th:href="@{'/movie/' + ${movie.id}}" th:text="${movie.title}"></a></td>
							<td><a th:href="@{'/admin/formUpdateMovie/' + ${movie.id}}" th:text="Modifica"></a></td>
							<td><a th:href="@{'/admin/removeMovie/' + ${movie.id}}">Remove Movie</a></td>
						</tr>	
					</table>
				</div>
			</td>
			</tr> 
		</tbody>
		</table>
	</div>
</body>

</html>