<!DOCTYPE html>
<html>
  <head>
    <title>Artista</title>
	<link rel="stylesheet" href="/css/stile.css" />
	<script src="https://kit.fontawesome.com/911a8faad0.js" crossorigin="anonymous"></script>
</head>

<body>
	<nav>
		<ul class="menu">
			<li>
				<a href="/"><i class="fa-solid fa-house"></i></a>
			</li>
			<li th:if="${#request.userPrincipal}"> 
				<span th:text="'ciao ' + ${#request.userPrincipal.principal.username}"></span> 
			</li>
			<li th:if="${#request.userPrincipal}"> 
				<a class="" href="/logout">Logout</a>
			</li>
			
			<li th:unless="${#request.userPrincipal}">
				<a class="" href="/login">Login/Register</a>
			</li>
			<li><a href="/formSearchMovies">Cerca Film</a></li>
		</ul>
	</nav>
	<center>
		<img class="logo" src="/images/logo-siw.png" width="30%"/>
	</center>
	<div class="movie">
		
		<div th:if="${artist}">
			<h1 th:text="${artist.name} + ' ' +${artist.surname} ">Up!</h1>
			<h4 th:text="${artist.dateOfBirth}">2000</h4>
			<img class="filmImage" th:src=${artist.urlOfPicture} />
		</div>

		<div class="actors" >
			
			<div class="listDirectors">
				
				<h2 class="regista">Regista in</h2>
				<div th:if="${artist.getDirectorOf().isEmpty()} ">ANCORA NESSUN FILM</div>
				<div class="" th:each="movie: ${artist.getDirectorOf()}">
					<img th:src="${movie.urlImage}"/>
				</div>
			</div>

	    	<div class="listActors">
				<h2>Recitato in</h2>
				<div th:if="${artist.getActorOf().isEmpty()} ">ANCORA NESSUN FILM</div>
				<div class="" th:each="movie: ${artist.getActorOf()}">
					<img th:src="${movie.urlImage}"/>
				</div>
			</div>


   		</div>

	</div>

  </body>
</html>
