<!DOCTYPE html>
<html>
  <head>
    <title>Artista</title>
	<link rel="stylesheet" href="/css/stile.css" />
	<link rel="stylesheet" href="/css/navBar.css"/>
	<script src="https://kit.fontawesome.com/911a8faad0.js" crossorigin="anonymous"></script>
</head>

<body>
	<header class="header">
		<a href="/" class="logo"><img class="logo" src="/images/logo-siw.png" /></a>
		<nav class="navbar">
			<a href="/" class="active"><i class="fa-solid fa-house"></i></a>
			<a href="/formSearchMovies">Cerca Film</a>
			<a href="/formSearchArtists">Cerca Artista</a>
			<span th:if="${#request.userPrincipal}" th:text="'Ciao ' + ${#request.userPrincipal.principal.username}"></span>
			<a th:if="${#request.userPrincipal}" class="" href="/logout">Logout</a>
			<a th:unless="${#request.userPrincipal}" class="" href="/login">Login/Register</a>
		</nav>
	</header>

	<div class="movie">
		
		<div th:if="${artist}">
			<h1 th:text="${artist.name} + ' ' +${artist.surname} ">Up!</h1>
			<h4 th:text="${artist.dateOfBirth}">2000</h4>
			<img class="filmImage" th:src=" '/' + ${artist.image.imagePath}" />
		</div>

		
		<table class="table-ext-regista-attore">
			<thead>
				  <tr>
					  <th>Attore</th>
				</tr>		
			</thead>
		  
		  <tbody>
			  <tr>	
			  <td colspan="2">	
				  <div class="divinterno" >	
					<center><div class="noFilm" th:if="${artist.getActorOf().isEmpty()} ">ANCORA NESSUN FILM</div></center>	
					  <table class="table-int" th:each="movie : ${artist.getActorOf()}">
						  <tr>
							  <td><a th:href="@{'/movie' + '/' + ${movie.id}}" ><img class="tableImage" th:src="'/' + ${movie.image.imagePath}"/></a></td>
							  <td><a th:href="@{'/movie' + '/' + ${movie.id}}" th:text="${movie.title}"></a></td>
						  </tr>	
					   </table>
				  </div>
			  </td>
			 </tr> 
		  </tbody>
		  </table>

		  <table class="table-ext-regista-attore">
			<thead>
				  <tr>
					  <th>Regista</th>
				</tr>		
			</thead>
		  
		  <tbody>
			  <tr>	
			  <td colspan="2">	
				  <div class="divinterno" >	
					<center><div class="noFilm" th:if="${artist.getDirectorOf().isEmpty()} ">ANCORA NESSUN FILM</div></center>
					  <table class="table-int" th:each="movie : ${artist.getDirectorOf()}">
						  <tr>
							  <td><a th:href="@{'/movie' + '/' + ${movie.id}}" ><img class="tableImage" th:src="'/' + ${movie.image.imagePath}"/></a></td>
							  <td><a th:href="@{'/movie' + '/' + ${movie.id}}" th:text="${movie.title}"></a></td>
						  </tr>	
					   </table>
				  </div>
			  </td>
			 </tr> 
		  </tbody>
		  </table>
		

	</div>

  </body>
</html>
