<!DOCTYPE html>
<html>
  <head>
    <title>Artista</title>
	<link rel="stylesheet" href="/css/stile.css" />
	<script src="https://kit.fontawesome.com/911a8faad0.js" crossorigin="anonymous"></script>
</head>

<body>
	<nav>
		<ul class="menu">
			<li>
				<a href="/"><i class="fa-solid fa-house"></i></a>
			</li>
			<li th:if="${#request.userPrincipal}"> 
				<span th:text="'ciao ' + ${#request.userPrincipal.principal.username}"></span> 
			</li>
			<li th:if="${#request.userPrincipal}"> 
				<a class="" href="/logout">Logout</a>
			</li>
			
			<li th:unless="${#request.userPrincipal}">
				<a class="" href="/login">Login/Register</a>
			</li>
			<li><a href="/formSearchMovies">Cerca Film</a></li>
		</ul>
	</nav>

	<div><a href="/"><img src="/images/logo-siw.png" width="50%"/></a></div>
    <h1>Dettagli Artista</h1>
    <div class="artist" th:if="${artist}">
        <p th:text="'Nome: ' + ${artist.name}">Dino Risi</p>
        <p th:text="'Cognome: ' + ${artist.surname}">Dino Risi</p>
        <p th:text="'Data di nascita: ' + ${artist.dateOfBirth}">20/20/2000</p>
        <span><img th:src=${artist.urlOfPicture} /></span>
    </div>
    <div th:unless="${artist}">Non esiste</div>
  </body>
</html>
