<!DOCTYPE html>
<html>

<head>
	<title>
		SiwMovie - Login
	</title>
	<link rel="stylesheet" href="/css/stile.css" />
</head>

<body>
	<header>
		<div th:if="${#request.userPrincipal}">
			<span th:text="${#request.userPrincipal.principal.username}"></span>
			<a href="/logout">Logout</a>
		</div>
		<div  th:unless="${#request.userPrincipal}">
			<a class="labelLogin" href="/login">Login</a>
		</div>
	</header>

	<center>
	<div>
		<a href="/"><img src="/images/logo-siw.png" width="50%"/></a>
	</div>
	
	<form class="table" th:action="@{/login}" method="POST">
		<h1>Login</h1>
			<div>
				<span><input name="username" placeholder="Username" type="text" required /></span>
			</div>
			<div>
				<span><input name="password" placeholder="Password" type="password" required /></span>
			</div>
			<div>
				<span th:if="${param.error != null}">Username o password errati</span>
			</div>
			<div>
				<span><button class="login" type="submit">Login</button></span>
			</div>
	
		<a class="Register" th:href="@{/register}" th:text="Registrati">Registrati</a>
		</form>
	</center>
</body>

</html>