<!DOCTYPE html>
<html>

<head>
	<title>Artisti</title>
	<link rel="stylesheet" href="/css/stile.css"/>
	<link rel="stylesheet" href="/css/navBar.css"/>
	<script src="https://kit.fontawesome.com/911a8faad0.js" crossorigin="anonymous"></script>
</head>

<body>
	<header class="header">
		<a href="/" class="logo"><img class="logo" src="/images/logo-siw.png" /></a>
		<nav class="navbar">
			<a href="/" class="active"><i class="fa-solid fa-house"></i></a>
			<a href="/formSearchMovies">Cerca Film</a>
			<a href="/formSearchArtists">Cerca Artista</a>
			<span th:if="${#request.userPrincipal}" th:text="'Ciao ' + ${#request.userPrincipal.principal.username}"></span>
			<a th:if="${#request.userPrincipal}" class="" href="/logout">Logout</a>
			<a th:unless="${#request.userPrincipal}" class="" href="/login">Login/Register</a>
		</nav>
	</header>
	
	<div class="foundMovies">
	<table class="table-ext">
		
		<thead>
			  <tr>
				  <th>Nome</th>
				  <th>Cognome</th> 
			</tr>		
		</thead>
	  
	  <tbody>
		
		  <tr>	
		  <td colspan="2">	
			  <div class="divinterno-foundMovies" >	
				<center><div style="color: #ffffff;" th:if="${artists.isEmpty()}">Non ci sono Artisti che soddisfano i requisiti</div></center>	
				  <table class="table-int" th:each="artist : ${artists}">
					  <tr>
						<td><a th:href="@{'/artist' + '/' + ${artist.id}}" th:text="${artist.name}"></a></td>
						  <td><a th:href="@{'/artist' + '/' + ${artist.id}}" th:text="${artist.surname}"></a></td>
					  </tr>	
				   </table>
			  </div>
		  </td>
		 </tr> 
	  </tbody>
	  </table>
	</div>
</body>

</html>