<!DOCTYPE html>
<html>

<head>
	<title>
		SiwMovie - Homepage
	</title>
	<link rel="stylesheet" href="/css/stile.css" />
</head>

<body>
	<header>
		<div th:if="${#request.userPrincipal}">
			Ciao <span th:text="${#request.userPrincipal.principal.username}"></span>
			<a class="labelLogin" href="/logout">Logout</a>
		</div>
		<div th:unless="${#request.userPrincipal}">
			<a class="labelLogin" href="/login">Login</a>
			<a class="labelLogin">/</a>
			<a class="labelLogin" href="/login">Register</a>
		</div>
	</header>
	
	<div><center><img src="/images/logo-siw.png" width="30%"/></center></div>
	<h1>Consulta l'archivio</h1>
	
	<div class="menu">
		<a href="/movie">Elenco Film</a>
	</div>
	<div class="menu">
		<a href="/artist">Elenco Artisti</a>
	</div>
</body>

</html>