<!DOCTYPE html>
<html>

<head>
	<title>
		SiwMovie - Homepage
	</title>
	<link rel="stylesheet" href="/css/stile.css" />
</head>

<body>
	<header>
		<div th:if="${#request.userPrincipal}">
			Ciao <span th:text="${#request.userPrincipal.principal.username}"></span>
			<a class="labelLogin" href="/logout">Logout</a>
		</div>
		<div th:unless="${#request.userPrincipal}">
			<a class="labelLogin" href="/login">Login</a>
			<a class="labelLogin">/</a>
			<a class="labelLogin" href="/login">Register</a>
		</div>
	</header>
	
	<center>
		<div><img src="/images/logo-siw.png" width="30%"/></div>
		<h1>Consulta l'archivio</h1>
	</center>
	
	<ul class="indexMenu">
		<li class="indexMenuItem"><span href="/movie">Elenco Film</span></li>
		<li class="indexMenuItem"><span href="/artist">Elenco Artisti</span></li>
	</ul>
</body>

</html>