<!DOCTYPE html>
<html>
  <head>
    <title>Movie</title>
	<link rel="stylesheet" href="/css/navBar.css"/>
	<link rel="stylesheet" href="/css/stile.css" />
	<script src="https://kit.fontawesome.com/911a8faad0.js" crossorigin="anonymous"></script>
</head>

<body>
	<header class="header">
		<a href="/" class="logo"><img class="logo" src="/images/logo-siw.png" /></a>
		<nav class="navbar">
			<a href="" class="active"><i class="fa-solid fa-house"></i></a>
			<a href="/formSearchMovies">Cerca Film</a>
			<a href="">Cerca Artista</a>
			<span th:if="${#request.userPrincipal}" th:text="'Ciao ' + ${#request.userPrincipal.principal.username}"></span>
			<a th:if="${#request.userPrincipal}" class="" href="/logout">Logout</a>
			<a th:unless="${#request.userPrincipal}" class="" href="/login">Login/Register</a>
		</nav>
	</header>

	<div class="movie">

	    <div th:if="${movie}">
	        <h1 th:text="${movie.title}">Up!</h1>
	        <h4 th:text="${movie.year}">2000</h4>
	        <img class="filmImage" width="10%" th:src=${movie.urlImage} />
	    </div>
	    
		<table class="table-ext-regista-attore">
			<thead>
				  <tr>
					  <th>Regista</th>
				</tr>		
			</thead>
		  
		  <tbody>
			  <tr>	
			  	<td colspan="2">	
				  	<div class="divinterno" >	
						
						<center><div class="noFilm" th:if="${movie.director == null}">NESSUN REGISTA</div></center>	
					  	<table class="table-int" th:if="${movie.director}">
						  	<tr>
							  	<td><a th:href="@{'/artist' + '/' + ${movie.director.id}}"><img class="tableImage" th:src="${movie.director.urlOfPicture}"/></a></td>
								<td><a th:href="@{'/artist' + '/' + ${movie.director.id}}" th:text="${movie.director.name} + ' ' + ${movie.director.surname}"></a></td>
						  	</tr>	
					   	</table>
				  	</div>
				</td>
			</tr> 
		  </tbody>
		</table>

		<table class="table-ext-regista-attore">
			<thead>
				  <tr>
					  <th>Attori</th>
				</tr>		
			</thead>
		  
		  <tbody>
			  <tr>	
			  	<td colspan="2">	
				  	<div class="divinterno" >	
						<center><div class="noFilm" th:if="${movie.actors.isEmpty()}">NESSUN ATTORE</div></center>	
					  	<table class="table-int" th:each="actor : ${movie.actors}">
						  	<tr>
							  	<td><a th:href="@{'/artist' + '/' + ${actor.id}}"><img class="tableImage" th:src="${actor.urlOfPicture}"/></a></td>
							  	<td><a th:href="@{'/artist' + '/' + ${actor.id}}" th:text="${actor.name} + ' ' + ${actor.surname}"></a></td>
						  	</tr>	
					   	</table>
				  	</div>
				</td>
			</tr> 
		  </tbody>
		</table>
	</div>

	<center>
		<table class="rewiew">
			<thead>
				<th>Titolo</th>		
				<th>Rating <i class="fa-solid fa-star"></i></th>	
				<th>Descrizione</th>			
			</thead>
		
		<tbody>
			<tr>	
				<td colspan="3">	
					<div class="divinterno" >	
						<center><div class="noFilm" th:if="${movie.movieRewiews.isEmpty()}">NESSUNA RECENSIONE</div></center>	
						<table class="table-int" th:each="rewiew: ${movie.movieRewiews}">
							<tr>
								<td><span th:text="${rewiew.title}"></span></td>
								<td><span th:text="${rewiew.rating}"></span></td>
								<td th:text="${rewiew.description}"></td>
								
							</tr>	
						</table>
					</div>
				</td>
			</tr> 
		</tbody>
		</table>
	</center>
  </body>
  
</html>
