<!DOCTYPE html>
<html>
  <head>
    <title>Movie</title>
	<link rel="stylesheet" href="/css/navBar.css"/>
	<link rel="stylesheet" href="/css/stile.css" />
	<link rel="stylesheet" href="/css/formStile.css" />
	<script src="https://kit.fontawesome.com/911a8faad0.js" crossorigin="anonymous"></script>
</head>

<body>
	<header class="header">
		<a href="/" class="logo"><img class="logo" src="/images/logo-siw.png" /></a>
		<nav class="navbar">
			<a href="" class="active"><i class="fa-solid fa-house"></i></a>
			<a href="/formSearchMovies">Cerca Film</a>
			<a href="">Cerca Artista</a>
			<span th:if="${#request.userPrincipal}" th:text="'Ciao ' + ${#request.userPrincipal.principal.username}"></span>
			<a th:if="${#request.userPrincipal}" class="" href="/logout">Logout</a>
			<a th:unless="${#request.userPrincipal}" class="" href="/login">Login/Register</a>
		</nav>
	</header>

	<div class="movie">

	    <div th:if="${movie}">
	        <h1 th:text="${movie.title}">Up!</h1>
	        <h4 th:text="${movie.year}">2000</h4>
	        <img class="filmImage" width="10%" th:src=${movie.urlImage} />
	    </div>
	    
		<table class="table-ext-regista-attore">
			<thead>
				  <tr>
					  <th>Regista</th>
				</tr>		
			</thead>
		  
		  <tbody>
			  <tr>	
			  	<td colspan="2">	
				  	<div class="divinterno" >	
						
						<center><div class="noFilm" th:if="${movie.director == null}">NESSUN REGISTA</div></center>	
					  	<table class="table-int" th:if="${movie.director}">
						  	<tr>
							  	<td><a th:href="@{'/artist' + '/' + ${movie.director.id}}"><img class="tableImage" th:src="${movie.director.urlOfPicture}"/></a></td>
								<td><a th:href="@{'/artist' + '/' + ${movie.director.id}}" th:text="${movie.director.name} + ' ' + ${movie.director.surname}"></a></td>
						  	</tr>	
					   	</table>
				  	</div>
				</td>
			</tr> 
		  </tbody>
		</table>

		<table class="table-ext-regista-attore">
			<thead>
				  <tr>
					  <th>Attori</th>
				</tr>		
			</thead>
		  
		  <tbody>
			  <tr>	
			  	<td colspan="2">	
				  	<div class="divinterno" >	
						<center><div class="noFilm" th:if="${movie.getActors() == null}">NESSUN ATTORE</div></center>	
					  	<table class="table-int" th:each="actor : ${movie.actors}">
						  	<tr>
							  	<td><a th:href="@{'/artist' + '/' + ${actor.id}}"><img class="tableImage" th:src="${actor.urlOfPicture}"/></a></td>
							  	<td><a th:href="@{'/artist' + '/' + ${actor.id}}" th:text="${actor.name} + ' ' + ${actor.surname}"></a></td>
						  	</tr>	
					   	</table>
				  	</div>
				</td>
			</tr> 
		  </tbody>
		</table>
	</div>

	<div class="movie">
		<table class="rewiew">
			<thead>
				<th>User</th>						
				<th>Titolo</th>		
				<th>Rating <i class="fa-solid fa-star"></i></th>	
				<th>Descrizione</th>			
			</thead>
		
		<tbody>
			<tr>	
				<td colspan="4">	
					<div class="divinterno-rewiew" >	
						<center><div class="noFilm" th:if="${movie.movieRewiews.isEmpty()}">NESSUNA RECENSIONE</div></center>	
						<table class="table-int" th:each="rewiew: ${movie.movieRewiews}">
							<tr>
								<td><span th:text="${rewiew.user.name}"></span></td>
								<td><span th:text="${rewiew.title}"></span></td>
								<td><span th:text="${rewiew.rating}"></span><i class="fa-solid fa-star"></i></td>
								<td><span th:text="${rewiew.description}"></span></td>
							</tr>	
						</table>
					</div>
				</td>
			</tr> 
		</tbody>
		</table>

		<form th:if="${#request.userPrincipal}" id="feedback" th:action="@{'/addRewiew' + '/' + ${movie.id}}" method="POST" th:object="${rewiew}">
		
			<div class="pinfo">Titolo</div>
			
			<div class="form-group">
			  <div class="col-md-4 inputGroupContainer">
			  <div class="input-group">
				<span class="input-group-addon"><i class="fa-regular fa-star"></i></span>
			  <input required name="title" class="form-control"  type="text" th:field="${rewiew.title}" >
				</div>
			  </div>
			</div>
			
			 <div class="pinfo">Valuta il film</div>
			  
			
			<div class="form-group">
			  <div class="col-md-4 inputGroupContainer">
			  <div class="input-group">
			  <span class="input-group-addon"><i class="fa-regular fa-star"></i></span>
			   <select class="form-control" id="rate" name="rating" type="int" th:field="${rewiew.rating}">
				  <option value="1">1</option>
				  <option value="2">2</option>
				  <option value="3">3</option>
				  <option value="4">4</option>
				  <option value="5">5</option>
				</select>
				</div>
			  </div>
			</div>
			
			 <div class="pinfo">Descrizione</div>
			  
			
			<div class="form-group">
			  <div class="col-md-4 inputGroupContainer">
				  <div class="input-group">
					  <span class="input-group-addon"><i class="fa fa-pencil"></i></span>
					  <textarea class="form-control" id="review" rows="3" th:field="${rewiew.description}"></textarea>
				  </div>
			  </div>
			</div>
			
			 <button type="submit" class="btn btn-primary">Invia Recensione</button>
			
			
		</form>
	</div>
  </body>
  
</html>
